<header class="clearfix">
  <img src="<%= image_url("Checkhov-logo.png") %>" height="55" alt="">

  <button class="login" id="header-login">Log In</button>
  <button id="header-signup">Get Started for FREE</button>
</header>

<section class="main">

  <h1>Lorem ipsum dolor sit amet.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quae dolore porro! Quidem, quo, sunt.</p>

</section>

<footer>
  <h4>I don't know what to put down here yet.</h4>
</footer>

<div id="modal-overlay" class="modal-group modal-close"></div>

<div class="modal modal-group" id="login-modal">
  <span class="modal-close x-icon"></span>
  <h3>Log in</h3>
  <form class="clearfix" id="login-form">

    <ul class="error-messages"></ul>

    <label for="login-email">Email address</label>
      <input id="login-email" placeholder="name@company.com" name="user[email]" type="text">


    <label for="login-password">Password</label>
      <input id="login-password" placeholder="password" name="user[password]" type="password">

    <p class="input-help">Forgot your pasword?</p>

    <input type="submit" value="Log In">
  </form>
</div>

<div class="modal modal-group" id="signup-modal">
  <span class="modal-close x-icon"></span>
  <h3>Sign Up</h3>
  <form class="clearfix" id="signup-form">

    <ul class="error-messages"></ul>

    <label for="signup-email">Email address</label>
      <input type="text" placeholder="name@company.com" name="user[email]">

    <label>Password</label>
      <input type="password" placeholder="password" name="user[password]">

    <input type="submit" value="Sign Up">
  </form>
</div>

<script type="text/javascript">

  (function () {

  var $loginModal = $("#login-modal");
  var $signupModal = $("#signup-modal");
  var $modalOverlay = $("#modal-overlay");
  var $signupForm = $("#signup-form");
  var $loginForm = $("#login-form");

  var modalOff = function () {
    $('.modal-group').css({display: "none"});
  };

  $('#header-login').on('click', function (e) {
    $modalOverlay.css({ display: "block" });
    $loginModal.css({ display: "block" });
  });

  $('#header-signup').on('click', function (e) {
    $modalOverlay.css({ display: "block" });
    $signupModal.css({ display: "block" });
  });

  $('.modal-close').on('click', function (e) {
    modalOff();
  });

  $loginForm.on("submit", function (e) {
    e.preventDefault();
    var $form = $(this);

    $.ajax({
      type: "POST",
      url: "/api/session",
      data: $form.serialize(),
      success: function (data) {
        // Redirect to App on success!
        window.location.href = "/app";
      },
      error: function (data) {
        var errors = data.responseJSON.errors;
        if (errors) {
          notifyErrors(errors, $form);
        }
      }
    });
  });

  $signupForm.on("submit", function (e) {
    e.preventDefault();
    var $form = $(this);

    $.ajax({
      type: "POST",
      url: "/api/users",
      data: $form.serialize(),
      success: function (data) {
        // Redirect to App on success!
        window.location.href = "/app";
      },
      error: function (data) {
        var errors = data.responseJSON.errors;
        if (errors) {
          notifyErrors(errors, $form);
        }
      }
    });
  });

  var notifyErrors = function (errors, $form) {
    var $errorContainer = $form.find(".error-messages");
    $errorContainer.empty();
    errors.forEach( function (error) {
      var $err = $("<li>").text(error);
      $errorContainer.append($err);
    });
  };


  })();

</script>
