<header class="clearfix">
  <img src="/assets/checkov-logo.png" height="55" alt="">

  <button class="login" id="header-login">Log In</button>
  <button id="header-signup">Get Started for FREE</button>
</header>

<section class="main">

  <h1>Lorem ipsum dolor sit amet.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quae dolore porro! Quidem, quo, sunt.</p>

</section>

<footer>
  <h4>I don't know what to put down here yet.</h4>
</footer>

<div id="modal-overlay" class="modal-group"></div>

<div class="modal modal-group" id="login-modal">
  <h3>Log in</h3>
  <form class="clearfix">
    <label for="login-email">Email address</label>
      <input id="login-email" placeholder="name@company.com" type="text">

    <div class="error-message-container"></div>

    <label for="login-password">Password</label>
      <input id="login-password" placeholder="password" type="text">

    <p class="input-help">Forgot your pasword?</p>

    <input type="submit" value="Log In">
  </form>
</div>

<div class="modal modal-group" id="signup-modal">
  <form>
    <label for="signup-email">Email address</label>
      <input type="text">

    <div class="error-message-container"></div>
    
    <label>Password</label>
      <input type="password">

    <input type="submit" value="Sign Up">
  </form>
</div>

<script type="text/javascript">

  (function () {

  var $loginModal = $("#login-modal");
  var $signupModal = $("#signup-modal");
  var $modalOverlay = $("#modal-overlay");

  var modalOff = function () {
    $('.modal-group').css({display: "none"});
  };

  $('#header-login').on('click', function (e) {
    $modalOverlay.css({ display: "block" });
    $loginModal.css({ display: "block" });
  });

  $('#header-signup').on('click', function (e) {
    $modalOverlay.css({ display: "block" });
    $signupModal.css({ display: "block" });
  });

  $modalOverlay.on('click', function (e) {
    modalOff();
  });


  })();

</script>
