.account-setup-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fc7279;
  background-image: linear-gradient(to top right,#fc7279 10%, #ff7b9c 65%, #ffc019 125%);
}

.modal.account-setup-modal {
  width: 723px;
  padding:45px 90px;

  form {

    padding: 0px;
    padding-top: 30px;

    input[type="text"] {
      width: 340px;
    }

    .avatar-frame {
      position: absolute;
      overflow: hidden;
      top: 190px;
      right: 90px;
      width: 170px;
      height: 170px;
      line-height: 170px;
      border-radius: 50%;
      border: 1px dashed #898E95;
      text-align: center;
      vertical-align: middle;

      img {
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      input[type="file"] {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0px;
        border: none;

        border-radius: 50%;
        width: 180px;
        height: 180px;
        outline: none;
        opacity: 0;
      }

      .avatar-frame.image {
        background-image: url(attr(data-url));
      }
    }

    .avatar-frame:hover {
      overflow: hidden;
      color: #02ceff;
      border: none;
      box-shadow: 0 0 0 2px #02ceff;
    }


    input[type="submit"] {
      clear: both;
      margin-top: 40px;
      background-color: #1AAFD0;
      border-color: #1AAFD0;
    }
  }

  form.team-form {
    input {
      width: 100%;
    }

    input[type="submit"] {
      width: auto;
    }
  }
}

.account-setup-modal h3 {
    margin: 0;
}
