.comment-index {

  border-top: 1px solid #E0E0E0;
  margin: 0px 30px;
  overflow: scroll;
  height: calc(100% - 220px);

  ul {
    list-style: none;
  }
}

.comment-index-item {
  padding-left: 40px;
  margin: 20px 0px;
  position: relative;

  h6 {
    font-size: 14px;
    font-weight: bold;
  }

  p {
    display: block;
    font-size: 14px;
    padding: 5px 0px;
  }

  .avatar {
    position: absolute;
    top: 5px;
    transform: translateX(-150%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
  }
}
