
.due-date-setter {

  float: left;
  left: 30px;
  cursor: pointer;
  color: #898E95;
  opacity: 1;

  position: relative;
  background: white;

  height: 36px;
  width: 145px;
  margin: 12px 0px;

  border-radius: 18px;
  line-height: 36px;

  border: 1px solid transparent;

  h6 {
    position: absolute;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    width: 80px;
    margin-left: 40px;
    font-size: 14px;
  }

  .avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    border: 1px dashed #898E95;
  }

  .unassign-button {
    display: none;
  }
}


.due-date-setter.assigned {

  .unassign-button {
    z-index: 15;
    display: block;
    position: absolute;
    right: 4px;
    top: 10px;
    background-color: #898E95;

    cursor: pointer;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    line-height: 13px;
    text-align: center;
    vertical-align: middle;

    box-shadow: rgb(255, 255, 255) -5px 0px 10px 5px;
  }

  .unassign-button:after {
    content: "⨯";
    color: white;
  }

  .unassign-button:hover {
    background-color: #02ceff;
  }

  .unassign-button:hover .tooltip:before {
    content: attr(content);
    opacity: .8;
    line-height: 36px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 12px;
    display: block;
    background-color: #2E3C54;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 36px;
    top: calc(100% + 5px);
  }

  .unassign-button:hover .tooltip:after {
    opacity: .8;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0px;
    height: 0px;
    border-top: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 5px solid  #2E3C54;
  }
}

.due-date-setter:hover {
  box-shadow: 0 0 0 3px #02ceff;
  color: #02ceff;
}

.due-date-setter.unassigned:hover {
  border: 1px dashed #02ceff;
  color: #02ceff;
  margin-left: 0px;
}

.due-date-setter.expanded:hover {
  color: #898E95;
  box-shadow: none;
}

.due-date-setter.expanded {
  width: 230px;
  height: 42px;
  margin: 9px 0;
  border-radius: 3px;
  border: 1px solid #898E95;
  z-index: 20;
  left: 10px;

  .avatar {
    left: 22px;
  }

  input {
    position: absolute;
    height: 42px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    width: 180px;
    margin-left: 60px;
    font-size: 14px;
    outline: none;
    resize: none;
    border: none;
  }

  .calendar {
    cursor: auto;
    position: absolute;
    margin: 0;
    padding: 10px;
    top: calc(100% + 1px);
    width: 230px;
    border-radius: 3px;
    left: -1px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #898E95;
    z-index: 10;
    text-transform: uppercase;
    font-weight: light;
    list-style: none;

    .select-bar {
      position: relative;
      height: 30px;
      text-align: center;

      a {
        cursor: pointer;
        font-size: 22px;
        position: absolute;
        width: 20px;
        height: 20px;
        margin: 5px;
        line-height: 20px;
        vertical-align: middle;
        top: 0px;
      }

      p {
        height: 30px;
        font-size: 13px;
        text-transform: capitalize;
        width: 100px;
        margin: 0 auto;
      }

      a:hover {
        color: #1AAFD0;
        background-color: #E0E0E0;
      }

      .left {
        left: 0px;
      }

      .right {
        right: 0px;
      }

      .right:after {
        content: "›"
      }

      .left:after {
        content: "‹"
      }
    }

    .calendar-body {
      margin: 0px auto;
      padding: 4px;

      div {
        font-size: 11px;
        float: left;
        text-align: center;
        height: 28px;
        width: 28px;
      }

      .cal-header {
        border-bottom: 1px solid #898E95;
        vertical-align: bottom;
      }

      .cal-day {
        cursor: pointer;
        height: 20px;
        width: 20px;
        line-height: 20px;
        vertical-align: middle;
        margin: 4px;
      }

      .cal-day:hover {

        border-radius: 50%;
        border: 1px solid gray;
        background-color: light-blue;
      }
    }
  }
}
