
.task-line {
  padding-left: 40px;
  border-top: 1px solid #E5E5E5;
  position: relative;

  .complete-task-button {
    margin: 7px 10px;
    color: #E1E2E4;
    position: absolute;
    left: 0px;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #B9BCC0;
    cursor: pointer;
  }

  .complete-task-button::after {
    content: "✓";
  }

  .complete-task-button:hover {
    color: #3BF7D1;
    border: 2px solid #3BF7D1;
  }

  .complete-task-button.completed  {
    background-color: #3BF7D1;
    color: white;
    border: 2px solid transparent;
  }

  input {
    resize: none;
    border: 0px solid transparent;
    height: inherit;
    outline: none;
    width: 400px;
  }

  .avatar {
    width: 20px;
    height: 20px;
    margin: 7px 15px;
    float: right;
    border-radius: 50%;
  }
}

li:hover + li > .task-line {
  border-top: 1px solid transparent;
}
