.project-list-component {
  background-color: inherit;
  padding: 0px 0px;
  margin-top: 40px;
  height: 30%;



  .project-list {
    background-color: inherit;
    position: relative;
    color: #C1CCD1;

    .header {
      position: relative;
      width: 240px;
      background-color: inherit;
    }

    h6 {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      font-size: 14px;
      vertical-align: middle;
      text-transform: uppercase;
    }

    .plus-icon {
      cursor: pointer;
      width: 18px;
      height: 18px;
      line-height: 13px;
      vertical-align: middle;
      text-align: center;
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 2px solid #C1CCD1;
    }

    .plus-icon::after {
      content: "+";
    }

    ul {
      list-style: none;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0 20px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;

      a {
        display: block;
        height: 30px;
        padding: 0px;
      }
    }

    li:hover {
      background: #179DBA;
    }

  }

  .modal {
    width: 530px;

    h4 {
      padding: 20px 30px;
      font-size: 24px;
      font-weight: bold;
      color: black;
      border-bottom: 1px solid #e1e2e4;
    }
  }

  .project-modal-group {
    display: none;
  }

  .project-modal-group.open {
    display: block;
  }
}
