.teams-nav {
  width: 90px;
  position: relative;
  display: block;
  float: left;

  .dropdown {
    width: 150px;
    list-style: none;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);
    display: none;
    background: white;
    z-index: 10000;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    top: calc(100%);

    li {
      a {
        display: block;
        font-size: 13px;
        padding: 15px;
      }
    }
  }

  .dropdown:after {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 0px;
    border-top: none;
    z-index: 10001;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid black;
  }

  .dropdown:before {
    content: "";
    position: absolute;
    top: -11px;
    left: 50%;
    z-index: 11000;
    transform: translateX(-50%);
    width: 0px;
    height: 0px;
    border-top: none;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
  }

  .dropdown.visible {
    display: block;
  }
}
