.member-list-component {
  background-color: inherit;
  margin-top: 60px;
  height: 30%;
  padding: 0px 0px;

  .member-list {
    background-color: inherit;
    color: #C1CCD1;
    position: relative;

    .header {
      position: relative;
      width: 240px;
      background-color: inherit;
    }

    h6 {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      font-size: 14px;
      vertical-align: middle;
      text-transform: uppercase;
    }

    .plus-icon {
      cursor: pointer;
      width: 18px;
      height: 18px;
      line-height: 13px;
      vertical-align: middle;
      text-align: center;
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 2px solid #C1CCD1;
    }

    .plus-icon::after {
      content: "+";
    }

    ul {
      list-style: none;
      font-size: 14px;
      margin: 0;
      padding: 0 0  0 15px;
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 0;
        width: 40px;
        height: 40px;
        margin: 4px;
        position: relative;

      }

      img {
        cursor: help;
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 0px;
      }

      li:hover:after {
        content: attr(name);
        display: block;
        width: 60px;
        padding: 10px;
        position: absolute;
        top: calc(100% + 6px);
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        background: #201930;
        border-radius: 4px;
        z-index: 15;
        color: white;
        opacity: .9;
      }

      li:hover:before {
        content: "";
        border-top: none;
        border-right: 8px solid  transparent;
        border-left: 8px solid  transparent;
        border-bottom: 6px solid  #201930;
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 16;
        opacity: .9;
      }
    }
  }

  .modal {
    width: 550px;

    form {
      padding: 10px 30px 30px 30px;
    }

    h4 {
      padding: 20px 30px;
      font-size: 24px;
      font-weight: bold;
      color: black;
      border-bottom: 1px solid #e1e2e4;
    }

    p {
      font-size: 15px;
      padding: 20px 30px 0px 30px;
    }
  }
}
