// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reset

@font-face {
  font-family: "Proxima Nova Regular";
  src: url(/assets/Proxima-Nova-Regular.otf) format("truetype");
}

$primary-background: #FF6D92;
$light-blue: #1AAFD0;

// dimensions
$top-bar-height: 40px;
$project-header-height: 65px;


* {
  box-sizing: border-box;
}

html, body, header, section, footer, h1, h2, p, form, label, a,
input, textarea, div {
  margin: 0px;
  padding: 0px;
  border: 0;

  background: transparent;

  font: inherit;
  color: inherit;
  font-size: 100%;
  vertical-align: baseline;

  box-sizing: border-box;
  text-decoration: none;

}

// clearfix;

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
body {
  font-family: 'Proxima-Nova-Regular', sans-serif;
  color: #1B2432;
}
header {
  height: 55px;
  padding: 0px 40px;
}

header .logo {
  float: left;
  margin: 12px;
  font-size: 28px;
  margin-left: 80px;
}

header button {
  float: right;
  margin: 10px;
  height: 35px;

  border: 2px solid #6a67ce;
  padding: 6px 13px;
  border-radius: 3px;
  color: white;
  background-color: #6a67ce;
  font-size: 12px;
}

button {
  height: 35px;

  border: 2px solid #6a67ce;
  padding: 6px 13px;
  border-radius: 3px;
  color: white;
  background-color: #6a67ce;
  font-size: 12px;
  cursor: pointer;
}

.login {
  background-color: white;
  color: #6a67ce
}

section.main {
  height: 500px;
  border: 1px solid transparent;
  background: radial-gradient(circle at center,rgba(255,185,0,.6) 10%,rgba(252,99,107,.8) 40%,rgba(255,109,146,0) 70%);
  background-color: $primary-background;
  color: white;
  // text-shadow:
}

section.main h1 {
  font-size: 64px;
  text-align: center;
  margin-top: 100px;
}

section.main p {
  margin: 20px auto;
  width: 500px;
  font-size: 24px;
  text-align: center;
}

footer h4 {
  text-align: center;
  font-size: 32px;
  color: #676d76;
}

#modal-overlay, .modal {
  position: absolute;
}

#modal-overlay {
  background-color: rgba(76, 76, 76, .6);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.modal {
  border-radius: 3px;
  background-color: white;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #a1a4aa;
}

.modal h3 {
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-align: center;
  margin-bottom: 0px;
}
.modal form {
  padding: 30px;
  font-size: 12px;

  label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  label {
    text-transform: uppercase;
  }

  p.input-help {
    color: #676d76;
    margin-top: 10px;
  }

  input[type="submit"] {
    margin-top: 10px;
    float: right;
    width: auto;
    padding: 0px 15px;
    background-color: #6a67ce;
    border: 1px solid #6a67ce;
    color: white;
    border-radius: 3px;
  }
}


.modal form .error-messages {
  padding-left: 20px;
  margin-bottom: 20px;
  color: #AC1717;

  li {
    margin: 7px 0px;
  }
}

.modal form input {
  height: 40px;
  border: 1px solid #cdcfd2;
  font-size: 14px;
  padding-left: 10px;
}

.x-icon {
  display: block;
  color: #898e95;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}

.x-icon::after {
  content: "✕";
}

.x-icon:hover {
  color: #02CEFF;
}

.account-setup-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fc7279;
  background-image: linear-gradient(to top right,#fc7279 10%, #ff7b9c 65%, #ffc019 125%);
}

.account-setup-modal {
  width: 723px;
  padding:45px 90px;

  form {

    padding: 0px;
    padding-top: 30px;

    input {
      width: 340px;
    }

    .avatar-frame {
      position: absolute;
      top: 190px;
      right: 90px;
      width: 170px;
      height: 170px;
      line-height: 170px;
      border-radius: 50%;
      border: 1px dashed #898E95;
      text-align: center;
      vertical-align: middle;
    }

    .avatar-frame:hover {
      color: #02ceff;
      border: none;
      box-shadow: 0 0 0 2px #02ceff;
    }

    input[type="submit"] {
      clear: both;
      margin-top: 40px;
      background-color: #1AAFD0;
      border-color: #1AAFD0;
    }
  }

  form.team-form {
    input {
      width: 100%;
    }

    input[type="submit"] {
      width: auto;
    }
  }
}

.account-setup-modal h3 {
    margin: 0;
}

#team-home-component {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#teams-sidebar {
  position: relative;
  float: left;
  bottom: 0px;
  width: 244px;
  height: 100%;
  color: white;
  background-color: #2E3C54;

  h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 25px;
  }

  h3::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 5px;
    right: 7px;
    height: 25px;
    width: 25px;
    background-color: #fc7279;
    border-radius: 50%;
  }
}

#teams-main {
  float: left;
  height: 100%;
  width: calc(100% - 245px);
}

#top-bar {
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  nav {
    height: 30px;
    align-self: center;
    width: 235px;

    a {
      display: inline-block;
      font-size: 11px;
      height: inherit;
      text-transform: uppercase;
      font-weight: normal;
      line-height: 30px;
      vertical-align: middle;
      padding: 0px;
      margin: 0px 12px;
    }

    a.icon-dropdown::after {
      content: "＋";
      margin: 3px;
      display: block;
      position: relative;
      line-height: 24px;
      vertical-align: middle;
      font-size: 18px;
      text-align: center;
      color: white;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $primary-background;
      background-image: linear-gradient(to right top, rgb(252, 99, 107), rgb(255, 109, 146) 35%, rgb(255, 185, 0) 100%);
    }

    a:hover {
      color: #02ceff;
    }

  }

  #team-nav {
    margin: 0;
    padding-left: 15px;

  }

  #search {
    width: 510px;
    border: 1px solid rgba(170, 170, 170, .7);
    border-radius: 15px;
  }

  #account-nav {
    margin: 0;
    // text-align: right;

    a {
      font-size: 14px;
      margin-right: 15px;
      text-transform: none;
      color: #898e95;
      display: block;
      float: right;
    }

    a:hover {
      color: #02ceff;
    }

    .user-avatar {
      display: block;
      width: 30px;
      height: 30px;
      background-color: #4186e0;
      border-radius: 50%;
      margin: 0px;
      float: right;
      margin-left: 10px;
    }

    a:hover > .user-avatar {
      border: 2px solid #02ceff;
    }
  }

}

.project-view {
  height: calc(100% - 40px);
}

#project-header {
  height: 65px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 1px;
  text-align: center;
  padding: 8px;

  h1 {
    font-size: 24px;
    margin: auto;
  }
}

#content-pane {
  height: calc(100% - 65px);
  padding: 15px 30px 0px 30px;

  .task-list-container {
    border-radius: 3px 3px 0 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.298039) 0.6px 1px 3px 1px;
    float: left;
    margin: 0px;
    margin-right: 15px;
    width: calc(55% - 15px);

    .header {
      padding: 15px 30px 0px 30px;
      button {
        background-color: white;
        color: $light-blue;
        border: solid 1px $light-blue;
        height: 30px;
        padding: 0px 10px;
        font-size: 13px;

      }

      .task-filter {
        cursor: pointer;
        position: relative;
        float: right;
        display: block;
        color: #898E95;
        font-size: 14px;
      }

      .dropdown-link {
        border-bottom: 1px dotted #898E95;
        margin: 2px;
      }

      .dropdown-link:after {
        content: "\02C7";
        font-size: 18px;
        position: relative;
        top: 8px;
        left: 5px;
      }

      .task-filter:hover .dropdown {
        display: block;
      }

      .dropdown {
        display: none;
        opacity: 100;
        position: absolute;
        top: 100%;
        right: 0px;
        width: 200px;
        background-color: white;
        z-index: 10;
        border-radius: 3px;
        border: 1px solid #898E95;

        h6 {
          text-transform: uppercase;
          font-size: 11px;
          font-weight: normal;
          margin: 10px;
        }

        ul {
          margin: 0px;
          list-style: none;
          padding: 0px;

          a {
            padding: 0px 10px;
            font-size: 14px;
            color: #1B2432;
            display: block;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
          }

          a:hover {
            background-color: #1AAFD0;
            color: white;
          }
        }

      }
    }
  }

  .task-detail-container {
    width: 45%;
    border-radius: 3px 3px 0 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.298039) 0.6px 1px 3px 1px;
    margin: 0px;
    float: left;

  }

  .task-list-container:only-child {
    float: none;
    margin: auto;
    width: 900px;
  }
}
.task-list {
  list-style: none;
  padding: 0px;

  li {
    height: 35px;
    width: 100%;
    font-size: 14px;
    line-height: 35px;
    padding-left: 30px;
    border-radius: 1px;

    a {
      display: block;
      width: 100%;
      height: 35px;
    }

    .task-line {
      height: 35px;
    }
  }

  li:hover {
    border: 1px solid #E0E0E0;

    .task-line {
      border: none;
    }
  }
}

.task-line {
  padding-left: 40px;
  border-top: 1px solid #E5E5E5;
  position: relative;

  .complete-task-button {
    margin: 7px 10px;
    color: #E1E2E4;
    position: absolute;
    left: 0px;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #B9BCC0;
    cursor: pointer;
  }

  .complete-task-button::after {
    content: "✓";
  }

  .complete-task-button:hover {
    color: #3BF7D1;
    border: 2px solid #3BF7D1;
  }

  .complete-task-button.completed  {
    background-color: #3BF7D1;
    color: white;
    border: 1px solid transparent;
  }

  textarea {
    resize: none;
    border: 0px solid transparent;
    height: inherit;
    outline: none;

  }
}

.task-description {
  margin: 10px 30px 10px 60px;
  display: block;
  width: calc(100% - 90px);
  min-height: 2em;
  padding: 12px;
  resize: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;

}

.task-description:hover {
  border: 1px solid rgb(205, 207, 210);
}

.task-detail-container {
  position: relative;

  .header {
    padding: 15px 30px;
    height: 60px;
    border-bottom: 1px solid #B9BCC0;
  }

  .project-info {
    height: 40px;
  }

  .task-line {
    height: 40px;
    margin: 5px 30px;
    line-height: 40px;
    padding-left: 50px;
    border-top: none;

    .complete-task-button {
      left: 5px;
      height: 30px;
      width: 30px;
      margin: 5px;
      font-size: 26px;
      line-height: 30px;
    }
  }

  .task-line:hover {
    border: 1px solid #E0E0E0;
  }

}
